In [1]:
#ML Assignment 2
#Name : Raju Ganesh A
#ID : 2025ab05140

In [2]:
!pip3 install seaborn
!pip3 install kagglehub[pandas-datasets]

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in /Users/erajanb/Library/Python/3.9/lib/python/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/erajanb/Library/Python/3.9/lib/python/site-packages (from seaborn) (2.0.2)
Requirement already satisfied: pandas>=1.2 in /Users/erajanb/Library/Python/3.9/lib/python/site-packages (from seaborn) (2.3.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/erajanb/Library/Python/3.9/lib/python/site-packages (from seaborn) (3.9.4)
Requirement already satisfied: python-dateutil>=2.7 in /Users/erajanb/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/erajanb/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.60.2)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/erajanb/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: pillow>=8 in /Users/erajanb/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.3.0)
Requirement already satisfied: cycler>=0.10 in /Users/erajanb/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/erajanb/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: packaging>=20.0 in /Users/erajanb/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/erajanb/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.3.1)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/erajanb/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (6.5.2)
Requirement already satisfied: zipp>=3.1.0 in /Users/erajanb/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.23.0)
Requirement already satisfied: pytz>=2020.1 in /Users/erajanb/Library/Python/3.9/lib/python/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/erajanb/Library/Python/3.9/lib/python/site-packages (from pandas>=1.2->seaborn) (2025.3)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 25.3 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
zsh:1: no matches found: kagglehub[pandas-datasets]

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import kagglehub
from kagglehub import KaggleDatasetAdapter

from IPython.display import display
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)


from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import (
    accuracy_score,
    roc_auc_score,
    precision_score,
    recall_score,
    f1_score,
    matthews_corrcoef,
    confusion_matrix,
    classification_report
)

from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import pickle
import joblib

/opt/homebrew/Cellar/jupyterlab/4.5.0_1/libexec/lib/python3.14/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
# Import Data from Kaggle
file_path = "UCI_Credit_Card.csv"

df = kagglehub.dataset_load(
  KaggleDatasetAdapter.PANDAS,
  "uciml/default-of-credit-card-clients-dataset",
  file_path,
)

print("First 5 records:")
display(df.head())

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (0.4.0).
First 5 records:

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,-2,-2,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,0,2,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,0,0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,0,0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,0,0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

1. ID: ID of each client
2. LIMIT_BAL: Amount of given credit in NT dollars (includes individual and family/supplementary credit
3. SEX: Gender (1=male, 2=female)
4. EDUCATION: (1=graduate school, 2=university, 3=high school, 4=others, 5=unknown, 6=unknown)
5. MARRIAGE: Marital status (1=married, 2=single, 3=others)
6. AGE: Age in years
7. PAY_0: Repayment status in September, 2005 (-1=pay duly, 1=payment delay for one month, 2=payment delay for two months, … 8=payment delay for eight months, 9=payment delay for nine months and above)
8. PAY_2: Repayment status in August, 2005 (scale same as above)
9. PAY_3: Repayment status in July, 2005 (scale same as above)
10. PAY_4: Repayment status in June, 2005 (scale same as above)
11. PAY_5: Repayment status in May, 2005 (scale same as above)
12. PAY_6: Repayment status in April, 2005 (scale same as above)
13. BILL_AMT1: Amount of bill statement in September, 2005 (NT dollar)
14. BILL_AMT2: Amount of bill statement in August, 2005 (NT dollar)
15. BILL_AMT3: Amount of bill statement in July, 2005 (NT dollar)
16. BILL_AMT4: Amount of bill statement in June, 2005 (NT dollar)
17. BILL_AMT5: Amount of bill statement in May, 2005 (NT dollar)
18. BILL_AMT6: Amount of bill statement in April, 2005 (NT dollar)
19. PAY_AMT1: Amount of previous payment in September, 2005 (NT dollar)
20. PAY_AMT2: Amount of previous payment in August, 2005 (NT dollar)
21. PAY_AMT3: Amount of previous payment in July, 2005 (NT dollar)
22. PAY_AMT4: Amount of previous payment in June, 2005 (NT dollar)
23. PAY_AMT5: Amount of previous payment in May, 2005 (NT dollar)
24. PAY_AMT6: Amount of previous payment in April, 2005 (NT dollar)
25. default.payment.next.month: Default payment (1=yes, 0=no)

In [5]:
# Check null data
print("==============Missing Values==================")
display(df.isnull().sum())

==============Missing Values==================

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [6]:
# Basic info (rows, columns, types, memory)
print("Dataset shape:", df.shape)
display(df.dtypes.value_counts())

Dataset shape: (30000, 25)

float64    13
int64      12
Name: count, dtype: int64

In [7]:
# Categorical columns value counts (look for invalid codes). Output will be blank, if no text based categorical column
cat_cols = df.select_dtypes(include=['object', 'category']).columns
for col in cat_cols:
    print(f"\n{col} unique values:", df[col].nunique())
    print(df[col].value_counts().head())

In [8]:
# Check pseudo‑categorical columns (low unique values)
low_card_cols = [col for col in df.columns if df[col].nunique() < 20]
print("Low-cardinality columns:", low_card_cols)
print("\nDistributions:")
for col in low_card_cols:
    print(f"\n{col}:")
    print(df[col].value_counts().sort_index())

Low-cardinality columns: ['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'default.payment.next.month']

Distributions:

SEX:
SEX
1    11888
2    18112
Name: count, dtype: int64

EDUCATION:
EDUCATION
0       14
1    10585
2    14030
3     4917
4      123
5      280
6       51
Name: count, dtype: int64

MARRIAGE:
MARRIAGE
0       54
1    13659
2    15964
3      323
Name: count, dtype: int64

PAY_0:
PAY_0
-2     2759
-1     5686
 0    14737
 1     3688
 2     2667
 3      322
 4       76
 5       26
 6       11
 7        9
 8       19
Name: count, dtype: int64

PAY_2:
PAY_2
-2     3782
-1     6050
 0    15730
 1       28
 2     3927
 3      326
 4       99
 5       25
 6       12
 7       20
 8        1
Name: count, dtype: int64

PAY_3:
PAY_3
-2     4085
-1     5938
 0    15764
 1        4
 2     3819
 3      240
 4       76
 5       21
 6       23
 7       27
 8        3
Name: count, dtype: int64

PAY_4:
PAY_4
-2     4348
-1     5687
 0    16455
 1        2
 2     3159
 3      180
 4       69
 5       35
 6        5
 7       58
 8        2
Name: count, dtype: int64

PAY_5:
PAY_5
-2     4546
-1     5539
 0    16947
 2     2626
 3      178
 4       84
 5       17
 6        4
 7       58
 8        1
Name: count, dtype: int64

PAY_6:
PAY_6
-2     4895
-1     5740
 0    16286
 2     2766
 3      184
 4       49
 5       13
 6       19
 7       46
 8        2
Name: count, dtype: int64

default.payment.next.month:
default.payment.next.month
0    23364
1     6636
Name: count, dtype: int64

In [9]:
# Target variable distribution (critical for classification!)
target_col = 'default.payment.next.month'  # or whatever your target is named
print("Target distribution:")
print(df[target_col].value_counts(normalize=True).round(3))

Target distribution:
default.payment.next.month
0    0.779
1    0.221
Name: proportion, dtype: float64

In [10]:
# 3. Duplicates
print("Duplicate rows:", df.duplicated().sum())

Duplicate rows: 0

In [11]:
# 4. Summary statistics (spot outliers, ranges)
display(df.describe())

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,15000.500000,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,-0.266200,-0.291100,51223.330900,49179.075167,4.701315e+04,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,8660.398374,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,1.133187,1.149988,73635.860576,71173.768783,6.934939e+04,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-165580.000000,-69777.000000,-1.572640e+05,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,3558.750000,2984.750000,2.666250e+03,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22381.500000,21200.000000,2.008850e+04,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67091.000000,64006.250000,6.016475e+04,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,964511.000000,983931.000000,1.664089e+06,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

In [12]:
# 6. Education column (often has invalid codes 0,5,6)
if 'EDUCATION' in df.columns:
    print("Education distribution:")
    print(df['EDUCATION'].value_counts().sort_index())
    # Should see codes 1=graduate, 2=university, 3=high_school, 4=others
    # Codes 0,5,6 are invalid → group them as 'others'

Education distribution:
EDUCATION
0       14
1    10585
2    14030
3     4917
4      123
5      280
6       51
Name: count, dtype: int64

In [13]:
# 7. Repayment columns (check for impossible values)
repay_cols = [col for col in df.columns if 'PAY_' in col]
for col in repay_cols:
    print(f"{col} range: {df[col].min():.0f} to {df[col].max():.0f}")
    print(f"Negative values in {col}: {(df[col] < 0).sum()}")

PAY_0 range: -2 to 8
Negative values in PAY_0: 8445
PAY_2 range: -2 to 8
Negative values in PAY_2: 9832
PAY_3 range: -2 to 8
Negative values in PAY_3: 10023
PAY_4 range: -2 to 8
Negative values in PAY_4: 10035
PAY_5 range: -2 to 8
Negative values in PAY_5: 10085
PAY_6 range: -2 to 8
Negative values in PAY_6: 10635
PAY_AMT1 range: 0 to 873552
Negative values in PAY_AMT1: 0
PAY_AMT2 range: 0 to 1684259
Negative values in PAY_AMT2: 0
PAY_AMT3 range: 0 to 896040
Negative values in PAY_AMT3: 0
PAY_AMT4 range: 0 to 621000
Negative values in PAY_AMT4: 0
PAY_AMT5 range: 0 to 426529
Negative values in PAY_AMT5: 0
PAY_AMT6 range: 0 to 528666
Negative values in PAY_AMT6: 0

In [14]:
# 8. Outliers in numeric columns (e.g., LIMIT_BAL, age)
print("Age stats (should be 20-80):")
if 'AGE' in df.columns:
    print(df['AGE'].describe())
    print("Age outliers (<18 or >100):", ((df['AGE'] < 18) | (df['AGE'] > 100)).sum())

Age stats (should be 20-80):
count    30000.000000
mean        35.485500
std          9.217904
min         21.000000
25%         28.000000
50%         34.000000
75%         41.000000
max         79.000000
Name: AGE, dtype: float64
Age outliers (<18 or >100): 0

In [15]:
# All checks in one table
quality_report = pd.DataFrame({
    'Check': ['Rows x Cols', 'Nulls total', 'Duplicates', 'Target imbalance', 'Invalid education', 'Negative payments'],
    'Value': [
        f"{df.shape[0]}x{df.shape[1]}",
        df.isnull().sum().sum(),
        df.duplicated().sum(),
        f"{df[target_col].value_counts(normalize=True).max():.1%}",
        df['EDUCATION'].isin([0,5,6]).sum() if 'EDUCATION' in df.columns else 0,
        sum((df[col] < 0).sum() for col in df.columns if 'PAY_' in col)
    ]
})
display(quality_report)

               Check     Value
0        Rows x Cols  30000x25
1        Nulls total         0
2         Duplicates         0
3   Target imbalance     77.9%
4  Invalid education       345
5  Negative payments     59055

In [16]:
# Identify columns (standard names for this dataset)
target_col = 'default.payment.next.month'
feature_cols = [col for col in df.columns if col != target_col]

print("Original shape:", df.shape)
print(f"Target distribution:\n{df[target_col].value_counts(normalize=True).round(3)}")

# 1. Fix EDUCATION (invalid codes 0,5,6 → 4)
df['EDUCATION'] = df['EDUCATION'].replace({0:4, 5:4, 6:4})
print("\nEDUCATION after fix:")
print(df['EDUCATION'].value_counts().sort_index())

# 2. Fix MARRIAGE (invalid code 0 → 3)
df['MARRIAGE'] = df['MARRIAGE'].replace({0:3})
print("\nMARRIAGE after fix:")
print(df['MARRIAGE'].value_counts().sort_index())

# 3. Check repayment columns (PAY_0 to PAY_6)
pay_cols = [col for col in feature_cols if 'PAY_' in col]
print("\nNegative PAY values (normal):")
for col in pay_cols:
    neg_count = (df[col] < 0).sum()
    if neg_count > 0:
        print(f"{col}: {neg_count} negatives (paid in advance)")

# No other cleaning needed (no nulls, no outliers requiring removal)

Original shape: (30000, 25)
Target distribution:
default.payment.next.month
0    0.779
1    0.221
Name: proportion, dtype: float64

EDUCATION after fix:
EDUCATION
1    10585
2    14030
3     4917
4      468
Name: count, dtype: int64

MARRIAGE after fix:
MARRIAGE
1    13659
2    15964
3      377
Name: count, dtype: int64

Negative PAY values (normal):
PAY_0: 8445 negatives (paid in advance)
PAY_2: 9832 negatives (paid in advance)
PAY_3: 10023 negatives (paid in advance)
PAY_4: 10035 negatives (paid in advance)
PAY_5: 10085 negatives (paid in advance)
PAY_6: 10635 negatives (paid in advance)

In [17]:
# Split (stratified to preserve target ratio)
X = df[feature_cols]
y = df[target_col]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

print("Train shape:", X_train.shape)
print("Test shape:", X_test.shape)
print("\nTrain target:\n", pd.Series(y_train).value_counts(normalize=True).round(3))

# Scale numeric features (helps Logistic Regression, KNN)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

Train shape: (24000, 24)
Test shape: (6000, 24)

Train target:
 default.payment.next.month
0    0.779
1    0.221
Name: proportion, dtype: float64

In [18]:
# Train logistic regression
log_reg = LogisticRegression(random_state=42, max_iter=1000)
log_reg.fit(X_train_scaled, y_train)

# Predict
y_pred = log_reg.predict(X_test_scaled)
y_pred_proba = log_reg.predict_proba(X_test_scaled)[:, 1]

# Calculate all 6 required metrics
metrics = {
    'Accuracy': accuracy_score(y_test, y_pred),
    'AUC': roc_auc_score(y_test, y_pred_proba),
    'Precision': precision_score(y_test, y_pred),
    'Recall': recall_score(y_test, y_pred),
    'F1': f1_score(y_test, y_pred),
    'MCC': matthews_corrcoef(y_test, y_pred)
}

print("Logistic Regression Metrics:")
for metric, value in metrics.items():
    print(f"{metric}: {value:.4f}")

# Accuracy: 0.8085 ✅ (high because mostly "no default")
# AUC: 0.7081 ✅ (decent discrimination)
# Recall: 0.2419 ❌ (low - misses many defaults, expected for baseline)
# F1: 0.3585 ✅ (balanced precision/recall trade‑off)

Logistic Regression Metrics:
Accuracy: 0.8085
AUC: 0.7081
Precision: 0.6918
Recall: 0.2419
F1: 0.3585
MCC: 0.3283

In [19]:
# Save logistic regression model + scaler (needed for Streamlit later)
joblib.dump(log_reg, 'logistic_model.joblib')
joblib.dump(scaler, 'scaler.joblib')
print("✅ Logistic model and scaler saved!")

# Store metrics for comparison table
log_reg_metrics = metrics
print("\nSaved metrics:", log_reg_metrics)

✅ Logistic model and scaler saved!

Saved metrics: {'Accuracy': 0.8085, 'AUC': 0.7080967142611333, 'Precision': 0.6918103448275862, 'Recall': 0.24189902034664656, 'F1': 0.35845896147403683, 'MCC': 0.3283001472125906}